{
  "id": null,
  "title": "{{ report.title }}",
  "originalTitle": "{{ report.title }}",
  "tags": [],
  "style": "dark",
  "timezone": "browser",
  "editable": true,
  "hideControls": false,
  "sharedCrosshair": false,
  "rows": [
    {
      "title": "New row",
      "height": "250px",
      "editable": true,
      "collapse": false,
      "panels": [
        {
          "title": "{{ summary_graph.title }}",
          "error": false,
          "span": 12,
          "editable": true,
          "type": "graph",
          "id": 1,
          "datasource": null,
          "renderer": "flot",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [
            "bps",
            "short"
          ],
          "grid": {
            "leftMax": {{ summary_graph.y_axis_max }},
            "rightMax": null,
            "leftMin": 0,
            "rightMin": null,
            "threshold1": null,
            "threshold2": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "lines": true,
          "fill": 2,
          "linewidth": 3,
          "points": true,
          "pointradius": 3,
          "bars": false,
          "stack": false,
          "percentage": false,
          "legend": {
            "show": true,
            "values": true,
            "min": true,
            "max": true,
            "current": true,
            "total": false,
            "avg": true,
            "alignAsTable": true,
            "rightSide": false,
            "hideEmpty": true
          },
          "nullPointMode": "connected",
          "steppedLine": false,
          "tooltip": {
            "value_type": "cumulative",
            "shared": true
          },
          "targets": [
            {
              "target": "alias(sumSeries(bandwidth.download.*), 'Total Download Bandwidth')"
            },
            {
              "target": "alias(sumSeries(bandwidth.upload.*), 'Total Upload Bandwidth')"
            }
          ],
          "aliasColors": {
            "Total Download Bandwidth": "#0082C8",
            "Total Upload Bandwidth": "#46F0F0"
          },
          "seriesOverrides": [],
          "links": []
        }
      ]
    },
    {
      "title": "New row",
      "height": "250px",
      "editable": true,
      "collapse": false,
      "panels": [
        {
          "title": "{{ download_graph.title }}",
          "error": false,
          "span": 12,
          "editable": true,
          "type": "graph",
          "id": 2,
          "datasource": null,
          "renderer": "flot",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [
            "bps",
            "short"
          ],
          "grid": {
            "leftMax": {{ download_graph.y_axis_max }},
            "rightMax": null,
            "leftMin": 0,
            "rightMin": null,
            "threshold1": null,
            "threshold2": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "lines": true,
          "fill": 2,
          "linewidth": 3,
          "points": true,
          "pointradius": 3,
          "bars": false,
          "stack": false,
          "percentage": false,
          "legend": {
            "show": true,
            "values": true,
            "min": true,
            "max": true,
            "current": true,
            "total": false,
            "avg": true,
            "alignAsTable": true,
            "rightSide": true,
            "hideEmpty": true
          },
          "nullPointMode": "connected",
          "steppedLine": false,
          "tooltip": {
            "value_type": "cumulative",
            "shared": true
          },
          "targets": [
            {
              "target": "aliasByMetric(bandwidth.download.*)"
            }
          ],
          "aliasColors": {
            "server0": "#E6194B",
            "server1": "#3CB44B",
            "server2": "#FFE119",
            "server3": "#0082C8",
            "server4": "#F58231",
            "server5": "#911EB4",
            "server6": "#46F0F0",
            "server7": "#F032E6",
            "server8": "#D2F53C",
            "server9": "#FABEBE"
          },
          "seriesOverrides": [],
          "links": []
        }
      ]
    },
    {
      "title": "New row",
      "height": "250px",
      "editable": true,
      "collapse": false,
      "panels": [
        {
          "title": "{{ upload_graph.title }}",
          "error": false,
          "span": 12,
          "editable": true,
          "type": "graph",
          "id": 3,
          "datasource": null,
          "renderer": "flot",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [
            "bps",
            "short"
          ],
          "grid": {
            "leftMax": {{ upload_graph.y_axis_max }},
            "rightMax": null,
            "leftMin": 0,
            "rightMin": null,
            "threshold1": null,
            "threshold2": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "lines": true,
          "fill": 2,
          "linewidth": 3,
          "points": true,
          "pointradius": 3,
          "bars": false,
          "stack": false,
          "percentage": false,
          "legend": {
            "show": true,
            "values": true,
            "min": true,
            "max": true,
            "current": true,
            "total": false,
            "avg": true,
            "alignAsTable": true,
            "rightSide": true,
            "hideEmpty": true
          },
          "nullPointMode": "connected",
          "steppedLine": false,
          "tooltip": {
            "value_type": "cumulative",
            "shared": true
          },
          "targets": [
            {
              "target": "aliasByMetric(bandwidth.upload.*)"
            }
          ],
          "aliasColors": {
            "server0": "#E6194B",
            "server1": "#3CB44B",
            "server2": "#FFE119",
            "server3": "#0082C8",
            "server4": "#F58231",
            "server5": "#911EB4",
            "server6": "#46F0F0",
            "server7": "#F032E6",
            "server8": "#D2F53C",
            "server9": "#FABEBE"
          },
          "seriesOverrides": [],
          "links": []
        }
      ]
    }
  ],
  "nav": [
    {
      "type": "timepicker",
      "collapse": false,
      "enable": true,
      "status": "Stable",
      "time_options": [
        "5m",
        "15m",
        "1h",
        "6h",
        "12h",
        "24h",
        "2d",
        "7d",
        "30d"
      ],
      "refresh_intervals": [
        "5s",
        "10s",
        "30s",
        "1m",
        "5m",
        "15m",
        "30m",
        "1h",
        "2h",
        "1d"
      ],
      "now": true,
      "notice": false
    }
  ],
  "time": {
    "from": "now-1h",
    "to": "now"
  },
  "templating": {
    "list": [],
    "enable": false
  },
  "annotations": {
    "list": [],
    "enable": false
  },
  "refresh": "1m",
  "version": 6,
  "hideAllLegends": false
}
